body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif !important;
}

#c {
    background: #202020;
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -998;
}

/*--------------------Navigation Bar--------------------*/

#navbar {
    box-sizing:border-box;
    background: #151515;
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index:97;
}

#logo {
    padding-top:10px;
    width: 100%;
    height: 68px;
}

.sitenav {
    width: 100%;
    height: 200px;
}

.sitenav ul {
    list-style-type: none;
    font-size: 30px;
    padding-left: 0;
    text-align: center;
}

.sitenav ul li {
    color: white;
    margin: 20px 0;
}

    .sitenav ul li li:hover {
        color: #cc3333;
    }

.navlink {
    text-decoration: none;
    color: white;
}

.navlinkhover { /*change on text with hover - need work*/
    text-decoration: none;
    color: #cc3333;
    font-size: 15px;
    line-height:120%;
}

.navlink:hover {
    color: #cc3333;
}

.social {
    text-align: center;
    width: 100%;
    height: 150px;
    font-size: 20px;
    line-height: 170%;
    padding-top: 5px;
}

.sociallink {
    text-decoration: none;
    color: #333333;
}

    .sociallink:hover {
        color: #cc3333;
    }

/*--------------------ScrollBar--------------------*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    animation: animate 5s linear infinite;
}

::-webkit-scrollbar-track {
    background-color: #151515;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#ED213A, #6f0000);
    animation: animate 5s linear infinite;
    border-radius: 40px;
}


        /*                                   */
        /*           Main content            */
        /*                                   */



/*--------------------Home Page--------------------*/


#homepage-container {
    position: absolute !important;
    margin-left: 60px !important;
    left: 10% !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    max-height: 90% !important;
    color: white !important;
    min-width: 470px !important;
}

#test2 {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#homepage h1 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif !important;
}

    #homepage h1:hover{
        cursor:pointer;
    }

input[type=submit], input[type=reset] {
    width: 240px;
    color: #cc3333;
    height: 60px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #cc3333;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
}

subject::-webkit-input-placeholder {
    font-family: 'Oswald', sans-serif !important;
    opacity: 1;
}

    input[type=submit]:hover, input[type=reset]:hover {
        background-color: #cc3333;
        color:black;
    }

.caption {
    font-size: 40px;
    text-align:center;
}

h1 span{
    color:white;
    display:inline-block;
    margin:-5px;
    padding:0px;
}

/*--Progress Bar--*/
.meter {
    height: 10px;
    width: 100px;
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    float: left;
}

.bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.meter > span {
    display: block;
    height: 100%;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #cc3333;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #cc3333), color-stop(1, red) );
    background-image: -moz-linear-gradient( center bottom, #cc3333 37%, #cc3333 69% );
    -webkit-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 9px rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

    .meter > span:after, .animate > span > span {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
        background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
        z-index: 1;
        -webkit-background-size: 10px 10px;
        -moz-background-size: 10px 10px;
        -webkit-animation: move 2s linear infinite;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

.animate > span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
    -webkit-animation: none;
    background-image: none;
}


/*--------------------Contact Page--------------------*/

.contactpage-container {
    
    width: calc(100%-60px);
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow:hidden;
}

.contactdiv {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

    .contactdiv:first-child {
        margin-left:70px;
    }

    .contactdiv h1 {
        color: white;
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }


input[type=text] {
    outline: none;
    width: 234px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #303030;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif !important;
    font-size:20px;
}

#subject {
    width: 480px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
}

#message {
    width: 480px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    vertical-align: text-top;
    font-family: 'Oswald', sans-serif !important;
    font-size: 20px;
    resize: none;
}


.typewriter h1 {
    overflow: hidden; 
    border-right: .10em solid white; 
    white-space: nowrap; 
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
        text-align:center;
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

#map {
    height: 100%;
}

/*--------------------Skills Page--------------------*/

.skillspage-container {
    width: calc(100%-60px);
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 60px;
    justify-content: space-evenly;
}

.text-zone {
    padding-left:60px;
    max-height: 90%;
    box-sizing: border-box;
    min-width: 480px;
    max-width:650px;
}

    .text-zone h1 {
        font-size: 53px;
        font-family: 'Oswald', sans-serif !important;
        color: #cc3333;
        font-weight: normal;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 40px;
        position: relative;
        display: block;
    }

    .text-zone p {
        font-size: 20px;
        line-height: 150%;
        color: #ffffff;
        font-family: 'Oswald', sans-serif !important;
        font-weight: 300;
        position:relative;
        display:block;
    }

.skills-charts {
    box-sizing: border-box;
}

.skill-title:hover{
    color:#cc3333;
}

.sphere-animation {
    width: 580px;
    height: 580px;
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/*--------------------About Page--------------------*/

#aboutpage-container {
    box-sizing: border-box !important;
    margin-left: auto !important;
    height: 100% !important;
    width: 90% !important;
    margin-left: 60px !important;
}

    #aboutpage-container h1 {
        font-size: 60px;
        text-align: center;
        color: white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 4px;
    }

        #aboutpage-container h1:hover {
            color: #cc3333!important;
            cursor:pointer;
        }

    #aboutpage-container p {
        text-align:left;
    }


#button {
    display: inline-block;
    background-color: #cc3333;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 98;
}

    #button::after {
        content: "UP";
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
        -webkit-box-shadow: 0px 0px 15px 4px rgba(204,51,51,0.7);
        -moz-box-shadow: 0px 0px 15px 4px rgba(204,51,51,0.7);
        box-shadow: 0px 0px 15px 4px rgba(204,51,51,0.7);
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }


  /*                                   */
 /*           Scaling                 */
/*                                   */

@media(max-width:1000px) {
    * {
        box-sizing: border-box;
    }

    #navbar {
        width: 100%;
        min-width: 500px;
        height: 70px;
        position: fixed;
        top:0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #logo {
        padding-left: 10px;
        padding-top: 5px;
    }

    .sitenav {
        height: 100%;
    }

        .sitenav ul {
            list-style-type: none;
            font-size: 2.5em;
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 0;
            padding: 0;
            height: 100%;
        }

            .sitenav ul li {
                margin: 0;
            }

    .meter {
        box-sizing: unset;
    }

    .social {
        width: 200px;
        height: 100%;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #homepage-container {
        margin-top: unset;
        margin-left: unset;
        justify-content: center;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 70%;
    }

    .skillspage-container {
        width: 100%;
        height:100%;
        align-items: center;
        margin: 60px 0;
        flex-direction:column;
    }

        .skillspage-container .text-zone {
            padding: 0;
            width: 500px;
            margin:40px auto;
        }

        .skillspage-container .skills-charts {
            padding: 0;
            margin-left: auto;
            margin-right: auto
        }

    .contactpage-container {
        margin-top: 80px;
        margin-left:unset;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height:100%;
    }

        .contactpage-container .contactdiv{
            height:500px;
            width:500px;
        }

        .contactpage-container .content {
            display: flex;
            flex-direction: column;
            margin: 70px 0;
        }

    .contactdiv:first-child {
        margin-right: unset;
        margin-left: unset;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .contactdiv:last-child {
        margin-bottom: 50px;
    }

    .sphere path {
        stroke-width: .4px;
    }
}

svg {
    margin: 0 auto;
    display: block;
}

@keyframes asteroid {
    0% {
        opacity: 1;
        transform: translateX(105%) translateY(-15%);
    }

    25% {
        opacity: 1;
        transform: translateX(-15%) translateY(105%);
    }

    100% {
        opacity: 1;
        transform: translateX(-15%) translateY(105%);
    }
}

@keyframes stars {
    from {
        opacity: 0;
    }

    to {
        opacity: .9;
    }
}

@keyframes circle1 {
    from {
        transform: rotate(0deg) translate(-40px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-40px) rotate(-360deg);
    }
}

@keyframes circle2 {
    from {
        transform: rotate(0deg) translate(-60px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-60px) rotate(-360deg);
    }
}

@keyframes circle3 {
    from {
        transform: rotate(0deg) translate(-80px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-80px) rotate(-360deg);
    }
}

@keyframes circle3-2 {
    from {
        transform: rotate(0deg) translate(12px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(12px) rotate(-360deg);
    }
}

@keyframes circle4 {
    from {
        transform: rotate(0deg) translate(100px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
}


@keyframes circle5 {
    from {
        transform: rotate(0deg) translate(125px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(125px) rotate(-360deg);
    }
}

@keyframes circle6 {
    from {
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
}

@keyframes circle7 {
    from {
        transform: rotate(0deg) translate(180px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(180px) rotate(-360deg);
    }
}

@keyframes circle8 {
    from {
        transform: rotate(0deg) translate(-200px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-200px) rotate(-360deg);
    }
}


.anim1 {
    animation: circle1 5s infinite linear;
}

.anim2 {
    animation: circle2 19s infinite linear;
}

.anim3 {
    animation: circle3 8s infinite linear;
}

.anim3-2 {
    animation: circle3-2 1.5s infinite linear;
}

.anim4 {
    animation: circle4 11s infinite linear;
}

.anim5 {
    animation: circle5 6s infinite linear;
}

.anim6 {
    animation: circle6 15s infinite linear;
}

.anim7 {
    animation: circle7 8s infinite linear;
}

.anim8 {
    animation: circle8 10s infinite linear;
}

.star1 {
    opacity: 0;
    animation: stars 5s infinite alternate;
}

.star2 {
    animation: stars 5s infinite alternate;
    animation-delay: 5s;
}

.asteroidSVG {
    opacity: 0;
    animation: asteroid 13s infinite;
    animation-delay: 10s;
}

.asteroidTail {
    transform: rotate(-45deg);
}


  /*                                      */
 /*           Page transitions           */
/*                                      */

/*--------------------Transition Screen--------------------*/
.loading-screen {
    position: relative;
    padding: 0;
    background-color: #151515;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 25px;
    width: 100%;
    left: -100%;
    pointer-events: none;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    pointer-events: none;
}



/*--------------------Transition Screen Loagin Animation--------------------*/

.loading-screen-aniation {
    color: #cc3333;
    padding-right: 25px;
}

svg.tea {
    --secondary: #cc3333;
}

    svg.tea #teabag {
        transform-origin: top center;
        transform: rotate(3deg);
        animation: swing 2s infinite;
    }

    svg.tea #steamL {
        stroke-dasharray: 13;
        stroke-dashoffset: 13;
        animation: steamLarge 2s infinite;
    }

    svg.tea #steamR {
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        animation: steamSmall 2s infinite;
    }

@-moz-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-o-keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@keyframes swing {
    50% {
        transform: rotate(-3deg);
    }
}

@-moz-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-webkit-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-o-keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@keyframes steamLarge {
    0% {
        stroke-dashoffset: 13;
        opacity: 0.6;
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0;
    }
}

@-moz-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-webkit-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@-o-keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}

@keyframes steamSmall {
    10% {
        stroke-dashoffset: 9;
        opacity: 0.6;
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0;
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0;
    }
}