/*--------------------About Page--------------------*/

#aboutpage-container {
    position: absolute;
    margin-left: 60px;
    left: 10%;
    top: 50%;
    min-height: 500px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
    border:2px solid white;
}

#aboutpage-container h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 4px;
}

#aboutpage-container h1:hover {
    color: #cc3333;
}

.pgUp {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: url(img/logo.png);
    text-decoration: none;
    width: 50px;
    height: 70px;
    
}
