body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif !important;
}

/*Navigation bar*/

#navbar {
    background: #151515;
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo {
    padding-top:10px;
    width: 100%;
    height: 68px;
}

.sitenav {
    width: 100%;
    height: 200px;
}

ul{
    list-style-type:none;
    font-size:30px;
    padding-left:0;
    text-align:center;
}

ul li{
    color:white;
    margin:20px 0;
}

li:hover {
    color: #cc3333;
}

.navlink {
    text-decoration: none;
    color: white;
}

.navlinkhover {
    text-decoration: none;
    color: #cc3333;
    font-size: 15px;
    line-height:120%;
}

.navlink:hover {
    color: #cc3333;
}

.social {
    text-align:center;
    width: 100%;
    height: 150px;
    font-size: 20px;
    line-height:170%;
    padding-top:5px;
}

.sociallink {
    text-decoration: none;
    color: #333333;
}

    .sociallink:hover {
        color: #cc3333;
    }

  /*                                   */
 /*           Main content            */
/*                                   */


/*Home Page*/

#homepage-container {
    position: absolute;
    margin-left: 60px;
    left: 10%;
    top: 50%;
    min-height: 500px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
}

#homepage {
    color:white;
}

    #homepage h1 {
        font-size:60px;
    }

    #homepage h1:hover{
        cursor:pointer;
    }

input[type=submit], input[type=reset] {
    width: 240px;
    height: 60px;
    box-sizing: border-box;
    background-color: #cc3333;
    border: 2px solid grey;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
}

subject::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Oswald', sans-serif !important;
    opacity: 1;
}

    input[type=submit]:hover, input[type=reset]:hover {
        background-color: #cc4444;
    }

.caption {
    float: left;
    height: 60px;
    font-size: 20px;
    font-size: 40px;
    text-align:center;
}

h1 span{
    color:white;
    display:inline-block;
    margin:-5px;
    padding:0px;
}


/*Contact Page*/

.contactpage-container {
    margin-left: 60px;
    height: 99vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1200px;
    padding: 50px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60px;
    background-color: #151515;
    margin-left: auto;
    margin-right: auto;
}

.contactdiv {
    float: left;
    height: 450px;
}

    .contactdiv:first-child {
        margin-right: 40px;
    }

    .contactdiv h1 {
        color: white;
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

.map {
    float: left;
    height:450px;
}

input[type=text] {
    outline: none;
    width: 234px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    font-family: 'Oswald', sans-serif !important;
}

#subject {
    width: 480px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
}

#message {
    width: 480px;
    height: 120px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    vertical-align: text-top;
    font-size:20px;
}


.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
        text-align:center;
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.contactdiv h1 {
    margin-left:auto;
    margin-right:auto;
    width: 350px;
}
