body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

/*Navigation bar*/

#navbar {
    background: #151515;
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo {
    padding-top:10px;
    width: 100%;
    height: 68px;
}

.sitenav {
    width: 100%;
    height: 200px;
}

ul{
    list-style-type:none;
    font-size:30px;
    padding-left:0;
    text-align:center;
}

ul li{
    color:white;
    margin:20px 0;
}

.navlink {
    text-decoration: none;
    color: white;
}

    .navlink:hover {
        color: #cc3333;
    }

.social {
    text-align:center;
    width: 100%;
    height: 150px;
    font-size: 20px;
    line-height:170%;
    padding-top:5px;
}

.sociallink {
    text-decoration: none;
    color: #333333;
}

    .sociallink:hover {
        color: #cc3333;
    }

  /*                                   */
 /*           Main content            */
/*                                   */


/*Home Page*/

#homepage-container {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}

#homepage {
    color:white;
}

    #homepage h1 {
        font-size:50px;
    }

input[type=submit] {
    width: 250px;
    height: 60px;
    box-sizing: border-box;
    background-color: #cc3333;
    border: 2px solid grey;
    outline:none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
}

    input[type=submit]:hover {
        background-color: #cc4444;
    }

#caption {
    
}

h1 span:hover {
    color: #cc3333;
}

