body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif !important;
}

/*Navigation bar*/

#navbar {
    background: #151515;
    width: 60px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo {
    padding-top:10px;
    width: 100%;
    height: 68px;
}

.sitenav {
    width: 100%;
    height: 200px;
}

ul{
    list-style-type:none;
    font-size:30px;
    padding-left:0;
    text-align:center;
}

ul li{
    color:white;
    margin:20px 0;
}

.navlink {
    text-decoration: none;
    color: white;
}

    .navlink:hover {
        color: #cc3333;
    }

.social {
    text-align:center;
    width: 100%;
    height: 150px;
    font-size: 20px;
    line-height:170%;
    padding-top:5px;
}

.sociallink {
    text-decoration: none;
    color: #333333;
}

    .sociallink:hover {
        color: #cc3333;
    }

  /*                                   */
 /*           Main content            */
/*                                   */


/*Home Page*/

#homepage-container {
    position: absolute;
    margin-left:60px;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
}

#homepage {
    color:white;
}

    #homepage h1 {
        font-size:60px;
    }

input[type=submit], input[type=reset] {
    width: 250px;
    height: 60px;
    box-sizing: border-box;
    background-color: #cc3333;
    border: 2px solid grey;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    -webkit-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 11px 5px 0px rgba(0,0,0,0.75);
}

    input[type=submit], input[type=reset]:hover {
        background-color: #cc4444;
    }

.caption {
    float: left;
    height: 60px;
    font-size: 20px;
    font-size: 40px;
    text-align:center;
}

h1 span{
    color:white;
    display:inline-block;
    margin:-5px;
    padding:0px;
}

    h1 span:hover {
        color: red;
        animation-iteration-count:2;
    }

/*Contact Page*/

.container {
    width: 1300px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 60px;
    background-color: #151515;
}

.contactdiv {
    float: left;
    height: 450px;
    margin:20px;
}

.map {
    float: left;
    height:450px;
}

input[type=text] {
    outline: none;
    width: 230px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
}

#subject {
    width: 480px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
}

#message {
    width: 480px;
    height: 120px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #303030;
    color: white;
    outline: none;
    border: none;
    vertical-align: text-top;
    font-family: 'Oswald', sans-serif;
    font-size:20px;
}
